// Variables

// Max - widths Container

$sm: 320px;
$md: 750px;
$xl: 1100px;


// COLORS

$white: #ffffff;
$black: #000000;
$white-bg: #FFF6F9;

// TYPOGRAPHY

$f-open: 'Open Sans', sans-serif;
$f-sacramento: 'Sacramento', cursive;



$light: 300;
$regular: 400;
$bold: 700;


