//////////////////
// INDEX
//////////////////
section {
	position: relative;
	padding: 30px 15px;
	
	.section--top,
	.section--bottom {
		position: absolute;
		z-index: 2;
		left: 0;
		width: 100%;
	}
	.section--top {
		bottom: 100%;
	}
	.section--bottom {
		top: 100%;
	}

}

// ABOUT
.about {
	text-align: center;
	p {
		margin-bottom: 20px;
	}
}

// CUPCAKES

.cupcakes {
	position: relative;
	padding: 70px 15px;
	color: $white;
	.sub-title {
		background-image: url('img/tab_border_white.svg');
	}
	&__container {
		position: relative;
	}
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: $white;
		margin-bottom: 20px;
		// max-width: 300px;

	}
	&__icon {
		// float: left;
		max-width: 140px;
		margin-bottom: 40px;
		path {
			fill: $white;
		}
	}
	&__text {
		max-width: 300px;
	}
	&:before {
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
	}
}


// GALLERY / TABS
.menu {
	&__description {
		text-align: center;
		margin-bottom: 40px;
	}
}

.tabs {
	&__nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		margin-bottom: 30px;
	}
	&__btn {
		padding: 10px 20px;
		min-width: 100px;
		height: auto;
		text-align: center;
		&.active {
			background-image: url('img/tab_border.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}


	&__content {
		display: none;
		width: 100%;
		&.active {
			animation: fadeIn 0.3s linear;
			display: inline-block;
		}
	}
}

.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__box {
		width: 45%;
		text-align: center;
		margin-bottom: 40px;
	}

	&__thumbnail {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		width: 100%;

		height: auto;
		padding-top: 100%;
		margin-bottom: 15px;
		// height: 100px;
	}
}

.contact {
	width: 100%;
	color: $white;
	padding: 70px 15px;
	.sub-title {
		background-image: url('img/tab_border_white.svg');
	}
	&__info {
		p {
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		width: 120px;
		margin-top: 20px;
	}

	&__icon {
		display: inline-block;
		max-width: 50px;
		height: 50px;
		border-radius: 20%;
		opacity: 0.7;
		transition: all .5s ease;
		&:hover {
			opacity: 1;
		}
	}
}

.wpcf7-form > p {
	position: relative;

	label {
		position: absolute;
		top: 28px;
		left: 12px;

		opacity: 0.5;
		font-size: 12px;

		transition: all 0.4s ease;
		&.focus {
			top: 0;
			left: 0;
			opacity: 0.9;
		}
	}
}

.wpcf7-form input,
.wpcf7-form textarea,
.wpcf7-form select {
	width: 98%;

	padding-left: 5px;

	appearance: none;
	background: transparent;
	border: 5px solid rgba(255,255,255, .8);
	border-image: url("img/answer-box.png") 20;
	&:before {
		content: '';
	}
	&:focus {
		outline-offset: 0px !important;
		outline: none !important;
	}

}


@include breakpoint(md) {
	section {
		padding: 80px 15px;
	}
	.about {
		p {
			margin-bottom: 30px;
		}
	}

	.cupcakes {
		padding: 130px 15px;
	}

	.menu {
		&__description {
			margin-bottom: 80px;
		}
	}

	.tabs {
		&__nav {
			flex-direction: row;
			justify-content: space-around;
			margin-bottom: 80px;
		}
		&__btn {
			padding: 0 40px;
			font-size: 25px;
		}

	}


	.product {

		&__box {
			width: 30%;
			margin-bottom: 80px;
		}

		&__thumbnail {
			margin-bottom: 30px;
		}
	}

	.contact {
		padding: 120px 15px;
		&__info {
			padding-left: 20px;
		}
	}

}