body {
	overflow-x: hidden;
	font-family: $f-open;
	font-weight: $light;
}


a {
	color: $black;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-weight: normal;
}
p {
	line-height: 24px;
}

.bold {
	font-weight: $bold;
}


.bg-center {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.noScroll {
	overflow: hidden;

}

.sub-title {
	// display: inline-block;
	margin-bottom: 40px;
	padding: 20px 65px;
	text-align: center;
	text-transform: uppercase;
	background-image: url('img/tab_border.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.focus-only {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
.focus-only:focus {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}

@include breakpoint(md) {
	.sub-title {
		margin-bottom: 80px;
	}
}